<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>image</key>
			<string>rim_timeline_icon_loc</string>
			<key>title</key>
			<string>热门微博</string>
			<key>detailTitle</key>
			<string>全站最热微博尽搜罗</string>
			<key>unreadCount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>rim_timeline_icon_loc</string>
			<key>title</key>
			<string>找人</string>
			<key>detailTitle</key>
			<string></string>
			<key>unreadCount</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>rim_timeline_icon_loc</string>
			<key>title</key>
			<string>奔跑2016</string>
			<key>detailTitle</key>
			<string></string>
			<key>unreadCount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>rim_timeline_icon_loc</string>
			<key>title</key>
			<string>玩游戏</string>
			<key>detailTitle</key>
			<string></string>
			<key>unreadCount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>周边</string>
			<key>image</key>
			<string>rim_timeline_icon_loc</string>
			<key>detailTitle</key>
			<string>发现&quot;大场&quot;值得去的地儿</string>
			<key>unreadCount</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>让红包飞</string>
			<key>image</key>
			<string>rim_timeline_icon_loc</string>
			<key>detailTitle</key>
			<string>全明星盛宴, 不止有红包</string>
			<key>unreadCount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>股票</string>
			<key>image</key>
			<string>rim_timeline_icon_loc</string>
			<key>detailTitle</key>
			<string></string>
			<key>unreadCount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>电影</string>
			<key>image</key>
			<string>rim_timeline_icon_loc</string>
			<key>detailTitle</key>
			<string></string>
			<key>unreadCount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>购物</string>
			<key>image</key>
			<string>rim_timeline_icon_loc</string>
			<key>detailTitle</key>
			<string></string>
			<key>unreadCount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>更多频道</string>
			<key>image</key>
			<string>rim_timeline_icon_loc</string>
			<key>detailTitle</key>
			<string></string>
			<key>unreadCount</key>
			<integer>0</integer>
		</dict>
	</array>
</array>
</plist>
