<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>messagescenter_at</string>
		<key>title</key>
		<string>@我的</string>
		<key>detailTitle</key>
		<string></string>
		<key>created_at</key>
		<string></string>
		<key>unreadCount</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>messagescenter_comments</string>
		<key>title</key>
		<string>评论</string>
		<key>detailTitle</key>
		<string></string>
		<key>created_at</key>
		<string></string>
		<key>unreadCount</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>messagescenter_good</string>
		<key>title</key>
		<string>赞</string>
		<key>detailTitle</key>
		<string></string>
		<key>created_at</key>
		<string></string>
		<key>unreadCount</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>messagescenter_subscription</string>
		<key>title</key>
		<string>订阅消息</string>
		<key>detailTitle</key>
		<string></string>
		<key>created_at</key>
		<string></string>
		<key>unreadCount</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>messagescenter_messagebox</string>
		<key>title</key>
		<string>未关注人消息</string>
		<key>detailTitle</key>
		<string></string>
		<key>created_at</key>
		<string></string>
		<key>unreadCount</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
