<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>新的好友</string>
			<key>image</key>
			<string>rim_timeline_icon_loc</string>
			<key>detailTitle</key>
			<string></string>
			<key>unreadCount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>微博等级</string>
			<key>image</key>
			<string>rim_timeline_icon_loc</string>
			<key>detailTitle</key>
			<string>连续登录7天</string>
			<key>unreadCount</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>我的相册</string>
			<key>image</key>
			<string>rim_timeline_icon_loc</string>
			<key>detailTitle</key>
			<string></string>
			<key>unreadCount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>我的点评</string>
			<key>image</key>
			<string>rim_timeline_icon_loc</string>
			<key>detailTitle</key>
			<string></string>
			<key>unreadCount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>我的赞</string>
			<key>image</key>
			<string>rim_timeline_icon_loc</string>
			<key>detailTitle</key>
			<string></string>
			<key>unreadCount</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>微博会员</string>
			<key>image</key>
			<string>rim_timeline_icon_loc</string>
			<key>detailTitle</key>
			<string>卡片背景、送流量</string>
			<key>unreadCount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>微博支付</string>
			<key>image</key>
			<string>rim_timeline_icon_loc</string>
			<key>detailTitle</key>
			<string>积分赢 iPhone6s</string>
			<key>unreadCount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>微博运动</string>
			<key>image</key>
			<string>rim_timeline_icon_loc</string>
			<key>detailTitle</key>
			<string>步数、卡路里、跑步轨迹</string>
			<key>unreadCount</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>粉丝服务</string>
			<key>image</key>
			<string>rim_timeline_icon_loc</string>
			<key>detailTitle</key>
			<string>设置私信互动</string>
			<key>unreadCount</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>草稿箱</string>
			<key>image</key>
			<string>rim_timeline_icon_loc</string>
			<key>detailTitle</key>
			<string></string>
			<key>unreadCount</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>更多</string>
			<key>image</key>
			<string>rim_timeline_icon_loc</string>
			<key>detailTitle</key>
			<string>数据中心、文章、收藏</string>
			<key>unreadCount</key>
			<integer>0</integer>
		</dict>
	</array>
</array>
</plist>
